@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$header-bg: rgb(1,4,9);
$main-bg: rgb(13,17,24);
$logo-bg: rgb(240,246,252);
$header-left-icon: rgb(126,135,145);
$header-right-icon: #848D97;
$header-font-bg: #e6edf3;
$placeholder: #6e7681;
$icon-border: #2a2f36;
$link-clr: #2f81f7;

$font: 'Noto Sans', Helvetica, Arial, sans-serif;