@import "reset";
@import "variables";
@import "header";

body{
    background-color: $main-bg;
    font-family: $font;
}

.main{
    margin: 40px 130px 20px 130px;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    /* Sağ taraftaki sütun 3 kat daha büyük */
    gap: 25px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;

    i{
        color: $header-right-icon;
    }

    img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $icon-border;
    }

    &-img{
        position: relative;

        &-focus{
            cursor: pointer;
            position: absolute;
            padding: 6px;
            border: 1px solid $icon-border;
            background-color: $main-bg;
            border-radius: 50%;
            right: 3px;
            bottom: 45px;
        }
    }

    &-title{
        h2{
            color: $header-font-bg;
            font-size: 25px;
        }
        p{
            color: #61686f;
            font-size: 19px;
        }
    }

    &-job{
        p{
            color: $header-font-bg;
        }
        
        button{
            width: 100%;
            border: 1px solid $icon-border;
            padding: 7px 16px;
            border-radius: 5px;
            background-color: #21262d;
            color: #c9d1d9;
            font-weight: 600;
            margin: 14px 0;
            cursor: pointer;
            transition: border .2s;

            &:hover{
                border: 1px solid $header-left-icon;
                background-color: #333a42;
            }
        }

        &-follow{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 6px;

            i{
                font-size: 11px;
                cursor: pointer;
                transition: .2s;

                &:hover{
                    color: $link-clr;
                }
            }
            span{
                color: $header-right-icon;
                font-size: 14px;
                cursor: pointer;
                transition: .2s;

                &:hover{
                    color: $link-clr;
                }
            }
            p{
                font-size: 14px;
                cursor: pointer;
                transition: .2s;

                &:hover{
                    color: $link-clr;
                }
            }
        }
    }
    &-contact{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        div{
            display: flex;
            align-items: center;
            // justify-content: flex-start;

            .fa-envelope{
                font-size: 13px;
            }

            span{
                color: $header-font-bg;
                margin-left: 8px;
                font-size: 13px;
                align-self: flex-start; 
                cursor: pointer;
                transition: .2s;

                &:hover{
                    color: $link-clr;
                    text-decoration: underline;
                }
            }
        }
    }
}

.readme{
    width: 100%;
    border: 1px solid $icon-border;
    border-radius: 5px;
    padding: 25px;

    &-pen{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            color: $header-font-bg;
            font-size: 11px;
        }
        .sa{
            color: $header-font-bg;
            font-size: 11px;
            cursor: pointer;
            transition: .2s;

            &:hover{
                color: $link-clr;
            }

        }

        i, span{
            color: $header-right-icon;
            font-size: 12px;
            cursor: pointer;
            transition: .2s;

            &:hover{
                color: $link-clr;
            }
        }
    }

    &-text{
        text-align: center;
        color: $header-font-bg;

        h1{
            margin-top: 25px;
            margin-bottom: 8px;
            font-size: 28px;
        }
        hr{
            border: 1px solid $icon-border;

        }
        p{
            margin-top: 16px;
            font-size: 15px;
            font-weight: 300;
        }

    }
    &-techstack{
        margin-top: 45px;

        &-svg{
            margin-top: 15px;
        }

        h2{
            font-size: 21px;
        }

        .hr2{
            margin: 10px 0;
        }

    }

}

.pinned-start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 9px;

    .blue{
        color: $link-clr;
        font-size: 12px;
        cursor: pointer;
        transition: .2s;

        &:hover{
            text-decoration: underline;
        }
    }

    span{
        color: $header-font-bg;
    }
}

.pinned-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 18px;

    .pinned-item{
        border-radius: 5px;
        border: 1px solid $icon-border;
        padding: 16px;

        .blue{
            cursor: pointer;
            color: $link-clr;
            font-size: 14px;
            font-weight: 500;
            transition: .2s;

            &:hover{
                text-decoration: underline;
            }
        }

        i{
            color: #848d97;
            font-size: 14px;
        }

        &-title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-left{
                display: flex;
                align-items: center;
                gap: 11px;

                div{
                    border: 1px solid $icon-border;
                    border-radius: 20px;
                    color: #848d97;
                    font-size: 11px;
                    font-weight: bold;
                    padding: 4px 6px;

                }
            }

            .fa-grip-vertical{
                font-size: 12px;
                cursor: pointer;
            }
        }

        .pinned-category{
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .pinned-text{
            color: #848d97;
            font-size: 11px;
            margin-top: 7px;
            margin-bottom: 10px;
        }

        .pinned-color{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #e34c26;
        }

        .pinned-tech{
            color: #848d97;
            font-size: 12px;
        }

        .chat-text,
        .music-text{
            margin-bottom: 25px;
        }

        .chat-clr,
        .music-clr{
            background-color: #f1e05a;
        }

        .hiking-clr{
            background-color: #c6538c;
        }

        .art-clr{
            background-color: #563d7c;
        }

    }
}

.footer{
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    color: #848d97;
    font-size: 12px;
    i{
        cursor: pointer;
        font-size: 26px;
        transition: .2s;
        &:hover{
            color: #c9d1d9;
        }
    }

    span{
        cursor: pointer;
        transition: .2s;

        &:hover{
            color: $link-clr;
            text-decoration: underline;
        }

    }
}